/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
    margin: 0.5em 0;
}
h2 {
    margin: 0.5em 0;
}

ul li {
    list-style: none;
}

.title a {
    color: white;
    text-decoration: none;
}

.toolbar {
    display: inline-block;
}

/* Searchbar & Typeahead */
#search-form .twitter-typeahead {
    margin: 0.7rem 0.5rem 0 0;
    vertical-align: middle;
}

#search-form [type='submit'] {
    vertical-align: middle;
}

/*.tt-hint {
    color: gray;
}
.tt-suggestion {
    background-color: gray;
    padding: 0.5rem;
}
.tt-suggestion.tt-cursor {
    background-color: darkgray;
}*/

.typeahead {
    width: 10rem;
    height: 1rem;
}

.stock-details #ticker {
    margin: 0.2em 0;
}

.stock-details #price {
    font-size: 1.5em;
}
.stock-details #price #price-change {
    font-size: 0.8em;
    margin-left: 0.5em;
}
.stock-details #price #price-change.gain {
    color: green;
}
.stock-details #price #price-change.loss {
    color: red;
}

.stock-details #fundamentals > div {
    float: left;
}
.stock-details #fundamentals li {
    width: 18em;
}
.stock-details #fundamentals .label {

}
.stock-details #fundamentals .value {
    float: right;
}

.stock-details #other-fundamentals ul {
    padding: 0;
}