@mixin fa-icon($type: $fa-var-check, $text: true, $position: "before", $padding: 3px) {
  display: inline-block;
  &:#{$position} {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $type;
    @if $text == true {
      @if $position == "after" {
        margin-left: $padding;
      } @else {
        margin-right: $padding;
      }
    }
  }
}