@mixin fa-icon($type: $fa-var-check, $padding: 0) {
  display: inline-block;
  &:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $type;
    padding-right: $padding;
  }
}