<template name="add_transaction">
  <form id="add-transaction">
    <h3>add new trade</h3>
    <input class="form-control typeahead ticker" 
           name="symbol" type="text" 
           placeholder="ticker" 
           required autocomplete="off" 
           spellcheck="off" 
           data-source="search" />
    <div class="{{formActive}}">
      <select name="type">
        <option value="buy">buy</option>
        <option value="sell">sell</option>
      </select>
      <input name="date" type="date" placeholder="date" required />
      <input name="shares" type="text" placeholder="shares" required />
      <input name="price" type="text" placeholder="price" required />
      <input name="commission" type="text" placeholder="commission" />
      <input type="submit" value="add" />
    </div>
  </form>
</template>