<template name="import_transactions">
  <div id="import-trades">
    <h3>Import Transactions</h3>
    <form>
      <div class="field">
        <input type="checkbox" id="ignore-header" checked="{{ignoreHeader}}" />
        <label for="ignore-header">Ignore header/first row?</label>
      </div>
      <div class="field">
        <input type="file" id="files" name="files[]" multiple /><output id="list"></output>
      </div>
    </form>
    {{#if imports}}
    <ol>
      <li>1. Select the appropriate field heading for each relevant column below (we've made some guesses for you)</li>
      <li>2. When you're happy to import, click <button id="confirm-import">Confirm</button></li>
    </ol>

    <table id="import-preview">
      <thead>
        <tr>
          {{#each fieldHeaders}}
          <th>
            <select>
              <option value="" selected="{{isSelected ''}}">Field</option>
              <option value="symbol" selected="{{isSelected 'symbol'}}">Symbol</option>
              <option value="type" selected="{{isSelected 'type'}}">Type</option>
              <option value="date" selected="{{isSelected 'date'}}">Date</option>
              <option value="shares" selected="{{isSelected 'shares'}}">Shares</option>
              <option value="price" selected="{{isSelected 'price'}}">Price</option>
              <option value="commission" selected="{{isSelected 'commission'}}">Fees</option>
            </select>
          </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#each imports}}
        <tr>
        {{#each fields}}
          <td>{{this}}</td>
        {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</template>