<template name="transactions">
  <div id="transactions">
  {{#if transactions}}
    {{# DataTable dom=true}}
    <table>
      <thead>
        <tr>
          <th>symbol</th>
          <th>type</th>
          <th>date</th>
          <th>shares</th>
          <th>price</th>
          <th>cash flow</th>
          <th>commission</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each transactions}}
        <tr id="{{_id}}">
          <td>{{symbol}}</td>
          <td>{{type}}</td>
          <td>{{formatDate date}}</td>
          <td>{{shares}}</td>
          <td>{{formatCurrency price}}</td>
          <td>{{formatCurrency cashFlow}}</td>
          <td>{{formatCurrency commission}}</td>
          <td><button class="remove-transaction" data-id="{{_id}}">remove</button></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{/DataTable}}
  {{else}}
    <p class="empty-table">There are no trades yet. <br> <a id="focus-add-trade" href="#">Add a Trade</a> or <a href="/import-transactions">Import a CSV file</a>.</p>
  {{/if}}

    {{> transaction_menu}}
  </div>
</template>