<template name="dashboard">
  <div id="dashboard">
    <div id="summary">
      {{#with total}}
      <h2>portfolio overview</h2>
      <ul>
        <li>
          <span class="label">market value</span>
          <span class="value">{{formatCurrency marketValue}}</span>
        </li>
        <li>
          <span class="label">day's gain</span>
          <span class="value">{{{formatCurrencySign daysGain}}} <br> {{{formatPercent daysGainPercent}}}</span>
        </li>
        <li>
          <span class="label">total gain</span>
          <span class="value">{{{formatCurrencySign gain}}} <br> {{{formatPercent gainPercent}}}</span>
        </li>
      </ul>
      {{/with}}
    </div>
    <div id="winners">
      <h3>winners</h3>
      {{#if winners}}
      <ul>
        {{#each winners}}
        <li>
          <span class="label">{{symbol}}:</span>
          <span class="value">{{{formatCurrencySign daysGain}}}</span>
        </li>
        {{/each}}
      </ul>
      {{else}}
        <p>no winners today! :(</p>
      {{/if}}
    </div>
    <div id="losers">
      <h3>losers</h3>
      {{#if losers}}
      <ul>
        {{#each losers}}
        <li>
          <span class="label">{{symbol}}:</span>
          <span class="value">{{{formatCurrencySign daysGain}}}</span>
        </li>
        {{/each}}
      </ul>
      {{else}}
        <p>no losers today! :)</p>
      {{/if}}
    </div>
  </div>
</template>