<head>
  <title>finance</title>
</head>

<body>
  <div class="header-container">
      <header class="wrapper clearfix">

          <h1 class="title">Finance</h1>

          <div class="toolbar">
              <form id="search-form">
                  <label for="search">Search</label>
                  <input id="search" name="search" type="search">
              </form>
          </div>

          <nav>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Investments</a></li>
              </ul>
          </nav>

      </header>
  </div>

  <div class="main-container">
      <div class="main wrapper clearfix">
          
        {{> stocksearch}}

      </div> <!-- #main -->
  </div> <!-- #main-container -->

  <div class="footer-container">
      <footer class="wrapper">
          <h3>Francis Byrne 2014</h3>
      </footer>
  </div>
</body>
