<head>
  <title>finance</title>
</head>

<body>
  <div class="header-container">
      <header class="wrapper clearfix">
          <h1 class="title">Shares</h1>
          <nav>
              <ul>
                  <li><a href="#">nav ul li a</a></li>
                  <li><a href="#">nav ul li a</a></li>
                  <li><a href="#">nav ul li a</a></li>
              </ul>
          </nav>
      </header>
  </div>

  <div class="main-container">
      <div class="main wrapper clearfix">
          
        {{> stocksearch}}

      </div> <!-- #main -->
  </div> <!-- #main-container -->

  <div class="footer-container">
      <footer class="wrapper">
          <h3>footer</h3>
      </footer>
  </div>
</body>
