<template name="portfolio">
  <div id="portfolio">
    <ul id="display-options">
      <li>
          <input id="show-closed" type="checkbox" checked="{{showClosed}}" />
          <label for="show-closed">show closed positions</label>
      </li>
      <li>
        <span>view as:</span>
        <input name="view-as" type="radio" id="display-percent" checked="{{displayPercent}}" />
        <label for="display-percent">%</label>
        <input name="view-as" type="radio" id="display-amount" checked="{{displayAmount}}" />
        <label for="display-amount">$</label>
      </li>
    </ul>

    {{> dataTable
        selector="portfolio-table"
        columns=table.columns
        rows=table.rows
        options=table.options
    }}

    {{> transaction_menu}}
  </div>
</template>

<template name="portfolio_table2">
  {{#if currentHoldings}}
  <table>
    <thead>
      <tr>
        <th>symbol</th>
        <th>price</th>
        <th>change</th>
        <th>shares</th>
        <th>cost basis</th>
        <th>market value</th>
        <th>day's gain</th>
        <th>gain</th>
      </tr>
    </thead>
    <tbody>
    {{#each currentHoldings}}
      {{#if visible}}
      <tr>
        <td>{{symbol}}</td>
        <td>{{formatCurrency lastTrade}}</td>

        {{#if displayPercent}}
        <td>{{formatPercent changePercent}}</td>
        {{else}}
        <td>{{formatCurrencySign change}}</td>
        {{/if}}

        <td>{{shares}}</td>
        <td>{{formatCurrency costBasis}}</td>
        <td>{{formatCurrency marketValue}}</td>
        <td>{{formatCurrencySign daysGain}}</td>

        {{#if displayPercent}}
        <td>{{formatPercent  gainPercent}}</td>
        {{else}}
        <td>{{formatCurrencySign gain}}</td>
        {{/if}}
      </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>You have no holdings at the moment.</p>
  {{/if}}
</template>


<template name="portfolio_table">
  {{#if currentHoldings}}
  <table>
    <thead>
      <tr>
        <th>symbol</th>
        <th>price</th>
        <th>change</th>
        <th>shares</th>
        <th>cost basis</th>
        <th>market value</th>
        <th>day's gain</th>
        <th>gain</th>
        <th>overall gain</th>
      </tr>
    </thead>
    <tbody>
    {{#each currentHoldings}}
      {{#if visible}}
      <tr>
        <td>{{symbol}}</td>
        <td>{{formatCurrency lastTrade}}</td>

        {{#if displayPercent}}
        <td>{{formatPercent changePercent}}</td>
        {{else}}
        <td>{{formatCurrencySign change}}</td>
        {{/if}}

        <td>{{shares}}</td>
        <td>{{formatCurrency costBasis}}</td>
        <td>{{formatCurrency marketValue}}</td>
        <td>{{formatCurrencySign daysGain}}</td>

        {{#if displayPercent}}
        <td>{{formatPercent  gainPercent}}</td>
        {{else}}
        <td>{{formatCurrencySign gain}}</td>
        {{/if}}

        {{#if displayPercent}}
        <td>{{formatPercent overallGainPercent}}</td>
        {{else}}
        <td>{{formatCurrencySign overallGain}}</td>
        {{/if}}
      </tr>
      {{/if}}
    {{/each}}
    </tbody>

    {{#with total}}
    <tfoot>
      <tr class="total">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{formatCurrency costBasis}}</td>
        <td>{{formatCurrency marketValue}}</td>
        <td>{{formatCurrency daysGain}}</td>

        {{#if displayPercent}}
        <td>{{formatPercent  gainPercent}}</td>
        {{else}}
        <td>{{formatCurrency gain}}</td>
        {{/if}}

        {{#if displayPercent}}
        <td>{{formatPercent  overallGainPercent}}</td>
        {{else}}
        <td>{{formatCurrency overallGain}}</td>
        {{/if}}
      </tr>
    </tfoot>
    {{/with}}
  </table>
  {{else}}
  <p>You have no holdings at the moment.</p>
  {{/if}}
</template>