<template name="portfolio">
  <div id="portfolio">
    {{> DataTable table}}
    {{> transaction_menu}}
  </div>
</template>

<template name="display_options">
  <ul id="display-options">
    <li>
      <input id="show-closed" type="checkbox" checked="{{showClosed}}" />
      <label for="show-closed">show closed positions</label>
    </li>
    <li>
      <span>view as:</span>
      <input name="view-as" type="radio" id="display-percent" checked="{{displayPercent}}" />
      <label for="display-percent">%</label>
      <input name="view-as" type="radio" id="display-amount" checked="{{displayAmount}}" />
      <label for="display-amount">$</label>
    </li>
  </ul>
</template>

<template name="portfolio_total">
  {{#with total}}
  <tfoot id="portfolio-total">
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{formatCurrency costBasis}}</td>
      <td>{{formatCurrency marketValue}}</td>
      <td>{{{formatCurrencySign daysGain}}}</td>

      {{#if displayPercent}}
      <td>{{formatPercent  gainPercent}}</td>
      {{else}}
      <td>{{{formatCurrencySign gain}}}</td>
      {{/if}}
    </tr>
  </tfoot>
  {{/with}}
</template>