#dashboard {
  ul {
    @include clearfix();
  }
  #summary {
    max-width: 40rem;
    li {
      @include span(2 of 6);
      &:last-child {
        @include span(last 2 of 6);
      }
    }
    .label, .value {
      display: block;
    }
    .label {
      color: $mid-grey;
      font-weight: bold;
    }
    .value {
      font-size: 1.2em;
    }
  }
  #winners, #losers {
    float: left;
    width: 9rem;
    p, ul {
      margin-top: 0.5rem;
    }
    li {
      @include clearfix();
    }
    .label {
      float: left;
    }
    .value {
      float: right;
    }
  }
  #winners {
    margin-right: 5rem;
  }
}