input[type="search"] {
  outline: none;
  -webkit-appearance: none;
  border: 1px solid $mid-grey;
  border-radius: 8px;
}

// Replace Checkboxes with Font-Awesome checkboxes
input[type=checkbox] { 
  display:none;
  & + label:hover {
    cursor: pointer;
  }
  & + label:after {
    font-family: FontAwesome;
    display: inline-block;
  }
  & + label:after { 
    content: $fa-var-square-o;
    padding: 0 2px 0 5px;
  }
  &:checked + label:after { 
    content: $fa-var-check-square-o;
    padding-right: 0;
  }
}

// Replace Radios with Font-Awesome
input[type='radio'] {
  display: none;
  & + label {
    @include fa-icon($fa-var-square-o, true, "after");
    cursor: pointer;
  }
  &:checked + label:after {
    content: $fa-var-square;
  }
}

// Select Dropdown
select {
  @include border-radius(4px);
  @include box-shadow(0 3px 0 #ccc, 0 -1px #fff inset);
  @include appearance(none);
  background: url(/img/chevron-down.png) no-repeat 90% 50% #f8f8f8;
  padding: 3px;
  margin: 0;
  color: $light-grey !important;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}