input[type="search"] {
  outline: none;
  -webkit-appearance: none;
  border: 1px solid $mid-grey;
  border-radius: 8px;
}

// Replace Checkboxes with Font-Awesome checkboxes
input[type=checkbox] { 
  display:none;
  & + label:hover {
    cursor: pointer;
  }
  & + label:after {
    font-family: FontAwesome;
    display: inline-block;
  }
  & + label:after { 
    content: $fa-var-square-o;
    padding: 0 2px 0 5px;
  }
  &:checked + label:after { 
    content: $fa-var-check-square-o;
    padding-right: 0;
  }
}

// Replace Radios with Font-Awesome
input[type='radio'] {
  display: none;
  & + label {
    @include fa-icon($fa-var-square-o, 2px);
    cursor: pointer;
  }
  &:checked + label {
    @include fa-icon($fa-var-square, 2px);
  }
}