/****** General/Global styles *****/
* {
  box-sizing: border-box;
}

html,
input,
textarea {
  color: black;
}

html, body {
  height: 100%;
}
body {
  font: 16px/26px 'Oswald', sans-serif;
  font-weight: 300;
}

h3 {
  color: $mid-grey;
  margin: 1em 0 0.2em;
  font-weight: bold;
}

.wrapper {
  width: 96%;
  margin: 0 2%;
  @include breakpoint($medium) {
    width: 90%;
    margin: 0 5%;
  }
  @include breakpoint($large) {
    width: 960px;
    margin: 0 auto;
  }
}

.main-container {
  @include breakpoint($medium) {
    min-height: 564px;
  }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

.errors {
  margin-bottom: 1rem;
}

.gain {
  color: $green;
}
.loss {
  color: $red;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}