/* Top Menu */

$header-top: 3rem; // Top padding for header elements in desktop

.header-container {
  @include clearfix();
  background: $cyan;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
#site-header {
  @include breakpoint($medium) {
    & > * {
      padding-top: $header-top;
    }
  }
  h1 {
    line-height: 1em;
    float: left;
    margin: 0.8rem 1rem 0 0;
    a {color: white;}
  }
  a {text-decoration: none;}

  // Navigation
  nav a, #mobile-menu {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
    &:hover {
      color: white;
    }
    &.active {
      color: white;
    }
  }

  #mobile-menu {
    @include fa-icon($fa-var-bars, false);
    float: right;
    margin: 0;
    font-size: 1.8rem;
    padding: 1.3rem 1rem;
    @include breakpoint($medium) {
      display: none;
    }
    .menu-open & {
      color: $lighter-grey;
    }
  }

  nav {
    @include clearfix();
    @include sliding-menu();
    clear: both;
    @include breakpoint($medium) {
      display: block;
      float: right;
      clear: none;
      overflow-y: visible; // avoid hiding arrow box
    }
    a {
      padding: 1.25rem 1rem;
      border-bottom: solid 1px;
      @include breakpoint($medium) {
        border-bottom: none;
        display: inline-block;
      }
    }
    a:last-child {
      border-bottom: none;
      @include breakpoint($medium) {
        padding-right: 2rem;
      }
    }
    a.active {
      @include breakpoint($medium) {
        @include arrow-box(bottom, 50%, 0.5em, $cyan, 0, $cyan);
      }
    }
  }

  &.menu-closed nav {
    max-height: 0;
    @include breakpoint($medium) {
      max-height: 500px;
    }
  }
}

// Progress Bar
#iron-router-progress {
  background-color : white;
  box-shadow       : 0 0 5px white;
}

// Stock Search
#stock-search {
  margin: 1.3rem 0;
  float: right;
  @include breakpoint($medium) {
    padding-top: $header-top - 0.1875rem;
    margin-bottom: 0;
  }
  input[type="search"] {
    border: none;
  }
  .twitter-typeahead {
    vertical-align: middle;
  }
  .typeahead {
    width: 8rem;
    @include breakpoint($medium) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}