/* Top Menu */

$header-top: 70px; // Top padding for header elements in desktop

.header-container {
  @include clearfix();
  background: $dark-grey;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
#site-header {
  color: $mid-grey;
  @include breakpoint($medium) {
    & > * {
      padding-top: $header-top;
    }
  }
  h1 {
    font-size: 2rem;
    line-height: 1em;
    font-weight: bold;
    float: left;
    margin: 1rem 1rem 1rem 0;
    a {color: white;}
  }
  a {text-decoration: none;}
}

// Progress Bar
#iron-router-progress {
  background-color : $green;
  box-shadow       : 0 0 5px $green;
}

// Stock Search
#stock-search {
  margin: 1rem 0;
  float: right;
  @include breakpoint($medium) {
    padding-top: $header-top - 3px;
  }
  input[type="search"] {
    border: none;
  }
  .twitter-typeahead {
    vertical-align: middle;
  }
  .typeahead {
    width: 8rem;
    @include breakpoint($medium) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}


// Navigation
nav a, #mobile-menu {
  display: block;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: $mid-grey;
  &:visited {
    color: $mid-grey;
  }
  &:hover {
    color: $light-grey;
  }
  &.active {
    color: $lighter-grey;
  }
}

#mobile-menu {
  @include fa-icon($fa-var-bars, false);
  float: right;
  margin: 0;
  font-size: 1.8rem;
  padding: 1rem;
  @include breakpoint($medium) {
    display: none;
  }
  .menu-open & {
    color: $lighter-grey;
  }
}

nav {
  @include clearfix();
  @include sliding-menu();
  clear: both;
  @include breakpoint($medium) {
    display: block;
    float: right;
    clear: none;
    overflow-y: visible; // avoid hiding arrow box
  }
  .menu-closed & {
    max-height: 0;
    @include breakpoint($medium) {
      max-height: 500px;
    }
  }
  ul {
    margin: 0;
    li {
      border-bottom: solid 1px;
      @include breakpoint($medium) {
        border-bottom: none;
        display: inline-block;
      }
    }
  }
  a {
    padding: 1.25rem 1rem;
  }
  li:last-child a {
    padding-right: 2rem;
  }
  a.active {
    @include breakpoint($medium) {
      @include arrow-box(bottom, 50%, 0.5em, $dark-grey, 0, $dark-grey);
    }
  }
}