/* Top Menu */

$header-top: 70px; // Top padding for header elements in desktop

.header-container {
  @include clearfix();
  background: $dark-grey;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
#site-header {
  height: 130px;
  color: $mid-grey;
  & > * {
    padding-top: $header-top;
  }
  h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    a {color: white;}
  }
  a {text-decoration: none;}

  nav, #stock-search, #login-buttons {
    float: right;
  }

  // Search Bar
  input[type="search"] {
    border: none;
  }
  #stock-search {
    padding-top: $header-top - 3px;
    margin-left: 2.5rem;
  }
  .twitter-typeahead {
    vertical-align: middle;
  }
  .typeahead {
    width: 8rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// Progress Bar
#iron-router-progress {
  background-color : $green;
  box-shadow       : 0 0 5px $green;
}

// Navigation
nav {
    ul {
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      margin-bottom: 10px;
      padding: 15px 0;

      text-align: center;
      text-decoration: none;
      font-weight: bold;

      color: $mid-grey;
      &:visited {
        color: $mid-grey;
      }
      &:hover {
        color: $light-grey;
      }
      &.active {
        @include arrow-box(bottom, 50%, 0.5em, $dark-grey, 0, $dark-grey);
        color: $lighter-grey;
      }
    }
  }

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: right;
        padding: 0 1.25rem 2rem 1.25rem;
        margin-bottom: 0;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}