#landing-wrapper {
  background-color: $cyan;
  min-height: 100%;
  font: 300 16px/26px 'Roboto', sans-serif;
  font-size: 0.8rem;
  @include breakpoint($medium) {
    font-size: 1rem;
  }
  nav {
    @include clearfix();
    a {
      text-decoration: none;
      text-transform: uppercase;
      line-height: 1em;
      display: inline-block;
    }
  }
  #landing-header {
    padding: 2rem 0.5rem;
    @include breakpoint($medium) {
      padding: 4rem 0;
    }
    a {
      float: right;
      font-size: 1.8em;
      color: black;
      &:visited {
        color: black;
      }
      &:hover {
        color: white;
      }
    }
  }
  .main-container {
    @include clearfix();
    @include breakpoint($medium) {
      padding-bottom: 8rem; // footer height
    }
  }
  #landing {
    @include clearfix();
    margin: 0 auto;
    width: 20rem;
    @include breakpoint($medium) {
      width: 40rem;
    }
    & > * {
      margin: 0 auto;
      display: block;
    }
  }
  #logo {
    width: 125px;
    height: 132px;
    @include breakpoint($medium) {
      @include span(3 of 6);
      width: 252px;
      height: 264px;
      margin-top: 3rem;
    }
  }
  #main {
    text-align: center;
    @include breakpoint($medium) {
      @include span(last 3 of 6);
      text-align: left;
    }
    h1 {
      font: bold 6.5em 'Montserrat Alternates', sans-serif;
      margin: 0;
      line-height: 1em;
    }
    p {
      color: white;
      font-size: 2em;
      line-height: 1.2em;
      margin-top: 1rem;
      margin-bottom: 1.7em;
    }
    a {
      color: white;
      text-decoration: none;
      border-bottom: 2px solid;
      font-weight: 500;
      &:visited {
        color: white;
      }
      &:hover {
        color: black;
      }
    }
  }
  footer {
    clear: both;
    background-color: white;
    color: $mid-grey;
    padding-top: 4rem;
    height: 8rem;
    width: 100%;
    @include breakpoint($medium) {
      position:absolute;
      bottom:0;
      left:0;
    }
    nav {
      text-align: center;
    }
    a {
      color: $mid-grey;
      &:visited {
        color: $mid-grey;
      }
      &:hover {
        color: black;
      }
    }
  }
}