/* Portfolio */
#portfolio .dataTables_wrapper {
  @include clearfix();
  @include breakpoint($medium) {
    @include span(10 of 12);
  }
  #display-options {
    padding: 0;
    float: left;
    margin: 0;
  }
  #display-options li {
    display: inline-block;
    padding-right: 1rem;
  }
  .total {
    color: black;
  }
}

#portfolio #transaction-menu {
    @include breakpoint($large) {
      margin-top: 3.2rem;
    }
}

#transaction-menu {
  clear: both;
  margin-top: 0.3rem;
  @include breakpoint($large) {
    @include span(last 2 of 12);
    clear: none;
    input {
        width: 100%;
    }
    input[type="date"] {
        font-size:14px;
    }
  }
  h3 {
    font-size: 1rem;
    margin-top: 0;
    font-weight: bold;
    color: $light-grey;
  }
  input, select, button {
    margin-bottom: 0.5rem;
    margin-right: 0;
    display: block;
  }
  .twitter-typeahead {
    margin-bottom: 0.5rem;
    input.typeahead {
      margin-bottom: 0;
    }
  }
  #add-transaction {
    margin-bottom: 1rem;
  }
  .extended-form {
    display: none;
  }
  .ticker:focus + .extended-form {
    display: block;
  }
  #other-tools {
    h3 { 
        margin-bottom: 0.5rem;
    }
    ul { 
        padding-left: 0;
        margin-top: 0.5rem;
    }
  }
}