/* Portfolio */
#portfolio {
  .dataTables_wrapper {
    @include clearfix();
    @include breakpoint($large) {
      @include span(18 of 22);
    }
  }
  #display-options {
    margin: 0 0 0.5rem 0;
    @include breakpoint($medium) {
      float: left;
    }
  }
  #display-options li {
    display: inline-block;
    padding-right: 1rem;
  }
  #portfolio-total {
    color: black;
  }
}