#transactions {
  .dataTables_wrapper {
    @include clearfix();
    max-width: 46rem;
    @include breakpoint($large) {
      @include span(9 of 12);
    }
  }
  td:nth-child(3) {
    white-space: nowrap;
  }
}

#import-preview {
  td {
    text-align: center;
  }
}