<template name="header">
  <header id="site-header" class="wrapper {{menuClass}}">

    <h1 class="title"><a href="{{pathFor 'home'}}">savvy.</a></h1>

    <a id="mobile-menu" href="#"></a>

    {{> stock_search}}
    
    <nav>
      <ul>
        <li><a href="{{pathFor 'dashboard'}}" class="{{isActiveRoute 'dashboard'}}">overview</a></li>
        <li><a href="{{pathFor 'portfolio'}}" class="{{isActiveRoute 'portfolio'}}">portfolio</a></li>
        <li><a href="{{pathFor 'transactions'}}" class="{{isActiveRoute 'transactions'}}">trades</a></li>
        <li><a href="{{pathFor 'capital-gains'}}" class="{{isActiveRoute 'capital-gains'}}">tools</a></li>
        {{#if signedIn}}
        <li><a href="{{pathFor 'sign-out'}}" class="{{isActiveRoute 'sign-out'}}">sign-out</a></li>
        {{else}}
        <li><a href="{{pathFor 'sign-in'}}" class="{{isActiveRoute 'sign-in'}}">sign-in</a></li>
        {{/if}}
      </ul>
    </nav>

  </header>
</template>