
// Colours
$dark-grey:     #333;
$mid-grey:      #666;
$light-grey:    #999;
$lighter-grey:  #ccc;
$off-white:     #f8f8f8;

$green: #00B42B;
$red  : #BD4652;

// Breakpoints
$small: 480px;
$medium: 768px;
$large: 1140px;